<<<<<<< HEAD
body {
    background-color: #131313;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.media-picture {
    height: 400px;
    background-image: url('../img/001.jpeg')
}

.review-score {
    color: white;
    background-color: #e6bd09;
    color: blue;
    padding: 12px;
}

h2 {
    line-height: 60px;
    color: steelblue;
}

p {
    color: #bdbdbd;
    font-family: 'Roboto';
}

a {
    color: yellow;
}
=======
body {
    background-color: #131313;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.media-picture {
    height: 400px;
    background-image: url('../img/001.jpeg')
}

.review-score {
    color: white;
    background-color: #e6bd09;
    color: blue;
    padding: 12px;
}

h2 {
    line-height: 60px;
    color: steelblue;
}

p {
    color: #bdbdbd;
    font-family: 'Roboto';
}

a {
    color: yellow;
}
>>>>>>> 5b51e62bf27e73c5297c2e1822df677ba5758495
