@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;
    height: fit-content;
}

.alert {
    background: #1cd1b0;
    width: 100%;
    height: 25px;
    padding: 10px;
}

.flex-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title {
    background-color: #00669f;
    width: 100%;
    height: 101px;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.flex-right {
    background-color: rgb(16, 16, 43);
    padding: 10px 15px 10px;
    color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flex-right a {
    color: white;
    font-size: 18px;  /*1.5rem = 24px*/
    text-decoration: none;
}

.flex-right ul li {
    display: inline;
    padding: 20px;
    text-align: left;
    pointer-events: visible;
}
/* ---------FIM DO MENU----------- */

.principal {
   
    display: flex;
    flex-wrap: wrap;

}

.card {
    position: relative;
    width: 374px;
    height: 597px;
    margin: 0 60px;
    border-radius: 16px 16px 10px 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.hero-card {
    width: 374px;
    height: 217px;
  }

.hero-card img {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    width: 374px;
    height: 217px;
}

.hero-card .favorite-card {
    position: absolute;
    background: url(/img/heart.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    top: 17px;
    left: 23px;
    cursor: pointer;
}

.profile {
    width: 135px;
    height: 133px;
    margin: -65px auto;
}

.profile img {
    width: 135px;
    height: 133px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 374px;
    height: 379px;
    padding: 36px;
}
.info h2 {
    margin-top: 30px;
  }
  
.info button {
    width: 145px;
    height: 54px;
    background: #00669f;
    color: white;
    border: 0;
    cursor: pointer;
}

.info p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}


.fim {
    position: absolute;
    width: 100%;
    background-color: #00669F;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

